section.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    div.background{
        z-index: -1;
        position: absolute !important;
        left: 0;
        right: 0;
        height: 100%;
        filter: brightness(40%);
    }
    aside{
        position: absolute;
        left: 0;
        height: 100%;
        width: 125px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border-right: solid 1px rgba(255, 255, 255, 0.1);
        ul{
            list-style-type: none;
            padding: 0;
            li:last-child{
                margin-bottom: 40px;
            }
            li:not(:last-child){
                margin-bottom: 20px;
            }
            li{
                a{
                    display: flex;
                    justify-content: center;
                    svg.svg-inline--fa{
                        width: auto;
                        height: 25px;
                    }
                }
            }
        }
    }
    div.container{
        margin-top: 0;
        h1.page-title{
            font-size: 5em;
        }
        h2.page-subtitle{
            font-size: 2em;
        }
    }
    div.gatsby-image-wrapper.logo{
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
    }
    svg.fa-arrow-down{
        position: absolute;
        bottom: 100px;
        height: 40px;
        width: auto;
        color: white;
        animation: position 1.5s ease-in-out infinite;
    }
}

@keyframes position{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}