@import '../../../styles/breakpoint.scss';

div.project{
    div.row{
        display: flex;
        flex-direction: row;
        div.info{
            display: flex;
            align-items: center;
            h2{
                font-weight: bolder;
            }
        }
        div.col{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

@media(min-width: $md){
    div.project:nth-child(even){
        div.row{
            flex-direction: row-reverse;
        }
    }
    div.project:nth-child(odd){
        text-align: right;
        div.row{
            div.info{
                justify-content: end;
            }
        }
    }
}