@import "../../styles/colors.scss";

.container{
    form{
        div.form-group{
            label{
                color: $text;
            }
            input, textarea{
                border-radius: 0;
            }
        }
        button{
            width: 100%;
            background-color: $background;
            border: none;
        }
        button:hover{
            background-color: $background;
        }
        button:active, button:focus{
            background-color: $highlight !important;
        }
    }
}