@import "../../styles/colors.scss";

.container{
    form{
        display: flex; 
        flex-direction: column;
        label{
            color: $text;
            display: flex;
            flex-direction: column;
        }
    }
}