@use "sass:math";
@import '../styles/colors.scss';
$defaultMargin: 80px;
$linkTransition: ease-in-out 0.15s;

@font-face{
    font-family: 'Roboto';
    font-display: swap;
    src: initial;
}

body{
    background-color: $background;
    h1, h2, h3, h4, h5, h6, p, a{
        color: $text;
        word-break: break-word;
        transition: $linkTransition;
    }
    a:link, a:visited, a:active{
        color: $text;
        text-decoration: none;
        transition: $linkTransition;
    }
    a:hover{
        color: $highlight;
        transition: $linkTransition;
        h1, h2, h3, h4, h5, h6, p{
            color: $highlight;
            transition: $linkTransition;
        }
    }

    section:not(.hero){
        padding: $defaultMargin 0;
    }
    main{
        section.list{
            div.project:not(:last-child){
                margin-bottom: $defaultMargin;
            }
        }
        div.embed{
            margin-bottom: $defaultMargin;
        }
    }
    footer{
        padding: math.div($defaultMargin, 2) 0;
        form{
            padding-bottom: math.div($defaultMargin, 2);
        }
    }
}