@import '../styles/colors.scss';

body{
    font-family: 'Roboto';
    background-color: $background;
    h1, h2, h3, h4, h5, h6, p, a{
        color: white;
    }
    main{
        div.container{
            margin-top: 20px;
        }
    }
    a:link, a:visited, a:active{
        color: $text;
    }
    a:hover{
        color: $highlight;
    }
}