@import '../styles/colors.scss';
$defaultMargin: 80px;

body{
    font-family: 'Roboto';
    background-color: $background;
    h1, h2, h3, h4, h5, h6, p, a{
        color: $text;
    }
    a:link, a:visited, a:active{
        color: $text;
    }
    a:hover{
        color: $highlight;
    }

    section:not(.hero){
        margin: $defaultMargin 0;
    }

    main{
        section.list{
            div.project:not(:last-child){
                margin-bottom: $defaultMargin;
            }
        }
        div.embed:not(:last-child){
            margin-bottom: $defaultMargin;
        }
    }
}