@import "../../../styles/colors.scss";

table.info{
    color: $text;
    tbody{
        tr{
            td{
                border-color: rgba(255,255,255,0.05)
            }
        }
        tr:last-child{
            td{
                border: none;
            }
        }
    }
}