<script lang="ts" context="module">
	import type { projectMetadataType } from '$lib/types/project';
	import { categories, tags } from './_projectMetadata';

	export const metadata: metadataType = {
		title: 'Example project',
		categories: [categories[0]],
		tags: [tags.html],
		dateCreated: new Date('2022-01-19'),
		dateUpdated: undefined
	};
</script>

<p>Content</p>
